nav {
    background-color: #6699cc;
    font-size: 20px;
    padding: 10px 0;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: white;
}

nav a:hover {
    background-color: #336699;
}
